.header-crawl-data{
  background-color:plum;
  padding:10px;
  margin:5px;
  color:whitesmoke;
  border:none;
  text-align:center;  
}

.btn-collect-data{
  width:25%;
  margin:auto;  
}

.custom-icon{
  cursor:pointer;
}